	* {font-family: 'Open Sans', sans-serif;}
	 h2 {text-align: center;font-size: 34px;}
	.row h4 {position: absolute;right: 0px; top: 0px;padding: 0px 30px; line-height: 36px; font-size: 24px; color: #000; margin: 0px;}
	.chicken {background: #d59898;}
	h4.beef {background: #c14543;color: #fff;}
	.sushi {background: #e5d198;}
	.row .menus { min-height:1px; position: relative;border: 2px solid #2b2b2b; background-color: #a9a9a9; box-sizing: border-box;}
	.desc {height:auto;margin:45px 0 20px; padding: 0 20px;font-size: 16px;}
	@media screen and (min-width: 992px) {
	.ls-3 {width: 30%; float:left; margin-left:2.49%;}
	}
	@media (min-width: 768px) and (max-width: 991px) {
	.md-1 {width: 95%; float:left; margin:25px 2.49%;}
	.md-2 {width: 46.5%; float:left;margin-left:2.49%;}
	}
	@media (max-width: 767px) {
	.sm-1 {width: 90%; margin:10px auto;}
	}